{% extends 'core/base.html' %}

{% block title %} Transactions | {{ block.super }}{% endblock title %}

{% block content %}
{% include "core/messages.html" %}

    <div class="page-header">
      <h1 class="text-center"><b>Banking System</b><br><small>ABC Bank Ltd.</small></h1>
    </div>
    
<div class="row">

  <div class="col-xs-12 col-md-8 text-left">
    <h4><b>Account Name: </b>{{ user.full_name }}</h4>
    <h4><b>Date of Birth: </b>{{ user.birth_date }}</h4>
    <h4><b>Gender: </b>{{ user.gender }}</h4>
    <h4><b>Contact No: </b>{{ user.contact_no }}</h4>
    <h4><b>Email Address: </b>{{ user.email }}</h4>
    <h4><b>Address: </b>{{ user.Address }}</h4>
    <h4><b>Location: </b>{{ user.city }}, {{ user.country }}</h4>
    <h4><b>Occupation: </b>{{ user.occupation }}</h4>
  </div>
  <div class="col-xs-6 col-md-4 text-left">
    <h4><b>Account Created: </b>{{ user.date_joined|date:'d-m-Y' }}</h4>
    <h4><b>Account No: </b>{{ user.account_no }}</h4><br><br>
    <div class="well">
    <h4 class="card"><b>Account Balance: $</b><span id="balanceCur">{{ user.balance }} AUD</span></h4>
    <a class="btn btn-success" href="{% url 'transactions:deposit' %}">Deposit</a>
    <a class="btn btn-info" href="{% url 'transactions:transfer' %}">Transfer</a>
    <a class="btn btn-danger" href="{% url 'transactions:withdrawal' %}">Withdraw</a>
    </div>
  </div>
  <div class="col-xs-6 col-md-4 text-left">  
    <div class="form-group">
      <select class="form-control" id="currency">
        <option>AED United Arab Emirates Dirham</option>
        <option>AFN Afghanistan Afghani</option>
        <option>ALL Albania Lek</option>
        <option>AMD Armenia Dram</option>
        <option>ANG Netherlands Antilles Guilder</option>
        <option>AOA Angola Kwanza</option>
        <option>ARS Argentina Peso</option>
        <option>AUD Australia Dollar</option>
        <option>AWG Aruba Guilder</option>
        <option>AZN Azerbaijan Manat</option>
        <option>BAM Bosnia and Herzegovina Convertible Marka</option>
        <option>BBD Barbados Dollar</option>
        <option>BDT Bangladesh Taka</option>
        <option>BGN Bulgaria Lev</option>
        <option>BHD Bahrain Dinar</option>
        <option>BIF Burundi Franc</option>
        <option>BMD Bermuda Dollar</option>
        <option>BND Brunei Darussalam Dollar</option>
        <option>BOB Bolivia Bolíviano</option>
        <option>BRL Brazil Real</option>
        <option>BSD Bahamas Dollar</option>
        <option>BTN Bhutan Ngultrum</option>
        <option>BWP Botswana Pula</option>
        <option>BYN Belarus Ruble</option>
        <option>BZD Belize Dollar</option>
        <option>CAD Canada Dollar</option>
        <option>CDF Congo/Kinshasa Franc</option>
        <option>CHF Switzerland Franc</option>
        <option>CLP Chile Peso</option>
        <option>CNY China Yuan Renminbi</option>
        <option>COP Colombia Peso</option>
        <option>CRC Costa Rica Colon</option>
        <option>CUC Cuba Convertible Peso</option>
        <option>CUP Cuba Peso</option>
        <option>CVE Cape Verde Escudo</option>
        <option>CZK Czech Republic Koruna</option>
        <option>DJF Djibouti Franc</option>
        <option>DKK Denmark Krone</option>
        <option>DOP Dominican Republic Peso</option>
        <option>DZD Algeria Dinar</option>
        <option>EGP Egypt Pound</option>
        <option>ERN Eritrea Nakfa</option>
        <option>ETB Ethiopia Birr</option>
        <option>EUR Euro Member Countries</option>
        <option>FJD Fiji Dollar</option>
        <option>FKP Falkland Islands (Malvinas) Pound</option>
        <option>GBP United Kingdom Pound</option>
        <option>GEL Georgia Lari</option>
        <option>GGP Guernsey Pound</option>
        <option>GHS Ghana Cedi</option>
        <option>GIP Gibraltar Pound</option>
        <option>GMD Gambia Dalasi</option>
        <option>GNF Guinea Franc</option>
        <option>GTQ Guatemala Quetzal</option>
        <option>GYD Guyana Dollar</option>
        <option>HKD Hong Kong Dollar</option>
        <option>HNL Honduras Lempira</option>
        <option>HRK Croatia Kuna</option>
        <option>HTG Haiti Gourde</option>
        <option>HUF Hungary Forint</option>
        <option>IDR Indonesia Rupiah</option>
        <option>ILS Israel Shekel</option>
        <option>IMP Isle of Man Pound</option>
        <option>INR India Rupee</option>
        <option>IQD Iraq Dinar</option>
        <option>IRR Iran Rial</option>
        <option>ISK Iceland Krona</option>
        <option>JEP Jersey Pound</option>
        <option>JMD Jamaica Dollar</option>
        <option>JOD Jordan Dinar</option>
        <option>JPY Japan Yen</option>
        <option>KES Kenya Shilling</option>
        <option>KGS Kyrgyzstan Som</option>
        <option>KHR Cambodia Riel</option>
        <option>KMF Comorian Franc</option>
        <option>KPW Korea (North) Won</option>
        <option>KRW Korea (South) Won</option>
        <option>KWD Kuwait Dinar</option>
        <option>KYD Cayman Islands Dollar</option>
        <option>KZT Kazakhstan Tenge</option>
        <option>LAK Laos Kip</option>
        <option>LBP Lebanon Pound</option>
        <option>LKR Sri Lanka Rupee</option>
        <option>LRD Liberia Dollar</option>
        <option>LSL Lesotho Loti</option>
        <option>LYD Libya Dinar</option>
        <option>MAD Morocco Dirham</option>
        <option>MDL Moldova Leu</option>
        <option>MGA Madagascar Ariary</option>
        <option>MKD Macedonia Denar</option>
        <option>MMK Myanmar (Burma) Kyat</option>
        <option>MNT Mongolia Tughrik</option>
        <option>MOP Macau Pataca</option>
        <option>MRU Mauritania Ouguiya</option>
        <option>MUR Mauritius Rupee</option>
        <option>MVR Maldives (Maldive Islands) Rufiyaa</option>
        <option>MWK Malawi Kwacha</option>
        <option>MXN Mexico Peso</option>
        <option>MYR Malaysia Ringgit</option>
        <option>MZN Mozambique Metical</option>
        <option>NAD Namibia Dollar</option>
        <option>NGN Nigeria Naira</option>
        <option>NIO Nicaragua Cordoba</option>
        <option>NOK Norway Krone</option>
        <option>NPR Nepal Rupee</option>
        <option>NZD New Zealand Dollar</option>
        <option>OMR Oman Rial</option>
        <option>PAB Panama Balboa</option>
        <option>PEN Peru Sol</option>
        <option>PGK Papua New Guinea Kina</option>
        <option>PHP Philippines Piso</option>
        <option>PKR Pakistan Rupee</option>
        <option>PLN Poland Zloty</option>
        <option>PYG Paraguay Guarani</option>
        <option>QAR Qatar Riyal</option>
        <option>RON Romania Leu</option>
        <option>RSD Serbia Dinar</option>
        <option>RUB Russia Ruble</option>
        <option>RWF Rwanda Franc</option>
        <option>SAR Saudi Arabia Riyal</option>
        <option>SBD Solomon Islands Dollar</option>
        <option>SCR Seychelles Rupee</option>
        <option>SDG Sudan Pound</option>
        <option>SEK Sweden Krona</option>
        <option>SGD Singapore Dollar</option>
        <option>SHP Saint Helena Pound</option>
        <option>SLL Sierra Leone Leone</option>
        <option>SOS Somalia Shilling</option>
        <option>SRD Suriname Dollar</option>
        <option>STN São Tomé and Príncipe Dobra</option>
        <option>SVC El Salvador Colon</option>
        <option>SYP Syria Pound</option>
        <option>SZL Swaziland Lilangeni</option>
        <option>THB Thailand Baht</option>
        <option>TJS Tajikistan Somoni</option>
        <option>TMT Turkmenistan Manat</option>
        <option>TND Tunisia Dinar</option>
        <option>TOP Tonga Pa'anga</option>
        <option>TRY Turkey Lira</option>
        <option>TTD Trinidad and Tobago Dollar</option>
        <option>TVD Tuvalu Dollar</option>
        <option>TWD Taiwan New Dollar</option>
        <option>TZS Tanzania Shilling</option>
        <option>UAH Ukraine Hryvnia</option>
        <option>UGX Uganda Shilling</option>
        <option>USD United States Dollar</option>
        <option>UYU Uruguay Peso</option>
        <option>UZS Uzbekistan Som</option>
        <option>VEF Venezuela Bolívar</option>
        <option>VND Viet Nam Dong</option>
        <option>VUV Vanuatu Vatu</option>
        <option>WST Samoa Tala</option>
        <option>XAF Communauté Financière Africaine (BEAC) CFA Franc BEAC</option>
        <option>XCD East Caribbean Dollar</option>
        <option>XDR International Monetary Fund (IMF) Special Drawing Rights</option>
        <option>XOF Communauté Financière Africaine (BCEAO) Franc</option>
        <option>XPF Comptoirs Français du Pacifique (CFP) Franc</option>
        <option>YER Yemen Rial</option>
        <option>ZAR South Africa Rand</option>
        <option>ZMW Zambia Kwacha</option>
        <option>ZWD Zimbabwe Dollar</option>
      </select>
    </div>
  </div>
</div>

<hr>

  <div class="page-header">
  <h2 class="text-center"><b>Transaction Details</b></h2>
</div>

<h3>Deposit Details</h3>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Date / Time</th>
      <th>Details</th>
      <th>Amount ($)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for obj in deposit %}
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ obj.timestamp }}</td>
      <td>Deposit</td>
      <td>{{ obj.amount }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th class="text-right" scope="row" colspan="3">Total</th>

      <td>{{ deposit_sum }}</td>
    </tr>
   
  </tbody>
</table>
<hr>

<h3>Transfer Details</h3>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Date / Time</th>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Amount in AUD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for obj in transfer %}
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ obj.timestamp }}</td>
      <td>{{ obj.sender }}</td>
      <td>{{ obj.receiver }}</td>
      <td>{{ obj.amount }}</td>
    </tr>
    {% endfor %}   
  </tbody>
</table>
<hr>


<h3>Withdrawal Details</h3>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Date / Time</th>
      <th>Details</th>
      <th>Amount ($)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for obj in withdrawal %}
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ obj.timestamp }}</td>
      <td>Withdrawal</td>
      <td>{{ obj.amount }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th class="text-right" scope="row" colspan="3">Total</th>

      <td>{{ withdrawal_sum }}</td>
    </tr>
   
  </tbody>
</table>
<hr>


<h3>Interest Details</h3>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Date / Time</th>
      <th>Details</th>
      <th>Amount ($)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for obj in interest %}
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ obj.timestamp }}</td>
      <td>Interest</td>
      <td>{{ obj.amount }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th class="text-right" scope="row" colspan="3">Total</th>

      <td>{{ interest_sum }}</td>
    </tr>
   
  </tbody>
</table>
<hr>
{% csrf_token %}
{% endblock content %}
